In [2]:
name = "Jeeya"
age = 19
height = 4.9
is_student = True
print(name, age, height, is_student)

Jeeya 19 4.9 True

In [3]:
print(type(name))
print(type(height))
print(type(age))
print(type(is_student))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'bool'>

In [5]:
int_var = 10
float_var = 3.4
str_var = "Python"
bool_var = False
list_var = [1,2,3]
tuple_var = (1,2)
set_var = {1,2,3,4}
dict_var = {"name":"Jeeya","age":19}
print(type(list_var))

<class 'list'>

In [6]:
num = 50
num_int = int(num)
num_float = float(num)
print(num_int + 10)
print(num_float - 0.3)

60
49.7

In [11]:
x = 100
x_str = str(x)
print("My score is "+ x_str)

My score is 100

In [12]:
a = 10
b = 3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

13
7
30
3.3333333333333335
3
1
1000

In [13]:
x = 5
y = 10
print(x>y)
print(x==y)
print(x!=y)
print(x>2 and y<20)
print(x<2 or y>5)
print(not(x<y))

False
False
True
True
True
False

In [14]:
my_list = [1,2,3,4]
print(3 in my_list)
print(5 not in my_list)

True
True

In [15]:
a = [1,2]
b = [1,2]
print(a is b)
print(a == b)

False
True